.breadcrumbs-wrapper {
  background-color: $p1l3;
  background-image: url('../img/city.png'),
                    url('../img/crumbs1.png'),
                    url('../img/crumbs2.png');
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-position: left bottom, 50% 25px, 97% 25px;
  padding-top: 80px;
  padding-bottom: 85px;

  ul {
    li {
      display: inline-block;
      margin-right: 10px;

      &:before {
        display: none;
      }
      a{
        @include font(12px, $p4, 500, $font3);
        text-transform: uppercase;
      }

      .active {
        color: $p4d3;
      }
    }
  }
}


.breadcrumbs__title {
    @include font(35px, $p4d3, 700, $font2);
    line-height: 1;
    margin: 0;
    margin-bottom: 18px;
}
