<div class="breadcrumbs-wrapper">
    <div class="container">
        <div class="breadcrumbs">
            <p class="breadcrumbs__title">404 Error</p>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>
                    <a href="">Pages</a>
                </li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>
                    <a class="active" href="/404.html">404 Error</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="not-found-wrapper">
    <div class="container">
        <div class="not-found">
            <div class="row">
                <div class="col s12 m8 offset-m2 l6 offset-l6">
                    <div class="not-found__body">
                        <h2>404 Page</h2>
                        <p>Oops. The page you were looking for doesn’t exist</p>
                        <small>You may have mistyped the address or the page may have moved</small>
                        <a class="button button4" href="/">Home</a>
                        <a class="button button5" href="#">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>