<section class="blog">

    <div class="tabs-wrapper">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1" title="Вкладка 1">Latest</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" title="Вкладка 2">TabName 2</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" title="Вкладка 3">TabName 3</label>

        <input id="tab4" type="radio" name="tabs">
        <label for="tab4" title="Вкладка 4">Show all</label>

        <div class="display-type valign-wrapper  hide-on-small-only">
            <a class="display-type__row" href="#"><i class="fa fa-list"></i></a>
            <a class="display-type__cell"  href="#"></a>
        </div>

        <section id="content-tab1">

            <div class="blog-item">
                <div class="row">
                    <div class="col m2 hide-on-small-only">
                        <div class="social">
                            <a href="#" class="social__link"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-google-plus"></i></a>
                        </div>

                        <div class="like">
                            <a class="like__link" href="#"><i class="fa fa-heart"></i>34</a>
                            <a class="like__link" href="#"><i class="fa fa-eye"></i>39</a>
                        </div>

                    </div>
                    <div class="col s12 m10">
                        <p class="blog-item__title">Do you need essay help?</p>
                        <time pubdate datetime="2015-02-03"><i class="fa fa-clock-o"></i>February 3, 2015 in Personal life</time>

                        <div class="post-img">
                            <img src="img/blog-1.jpg" alt="post #1">
                        </div>

                        <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>

                        <a class="blog-item__read"  href="#">Continue reading<i class="fa fa-caret-right"></i></a>

                    </div>
                </div>
            </div>


            <div class="blog-item">
                <div class="row">
                    <div class="col m2 hide-on-small-only">
                        <div class="social">
                            <a href="#" class="social__link"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-google-plus"></i></a>
                        </div>

                        <div class="like">
                            <a class="like__link" href="#"><i class="fa fa-heart"></i>34</a>
                            <a class="like__link" href="#"><i class="fa fa-eye"></i>39</a>
                        </div>

                    </div>
                    <div class="col s12 m10">
                        <p class="blog-item__title">Do you need essay help?</p>
                        <time pubdate datetime="2015-02-03"><i class="fa fa-clock-o"></i>February 3, 2015 in Personal life</time>

                        <div class="post-img">
                            <img src="img/blog-2.jpg" alt="post #1">
                        </div>

                        <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>

                        <a class="blog-item__read"  href="#">Continue reading<i class="fa fa-caret-right"></i></a>

                    </div>
                </div>
            </div>


            <div class="blog-item">
                <div class="row">
                    <div class="col m2 hide-on-small-only">
                        <div class="social">
                            <a href="#" class="social__link"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#" class="social__link"><i class="fa fa-google-plus"></i></a>
                        </div>

                        <div class="like">
                            <a class="like__link" href="#"><i class="fa fa-heart"></i>34</a>
                            <a class="like__link" href="#"><i class="fa fa-eye"></i>39</a>
                        </div>

                    </div>
                    <div class="col s12 m10">
                        <p class="blog-item__title">Do you need essay help?</p>
                        <time pubdate datetime="2015-02-03"><i class="fa fa-clock-o"></i>February 3, 2015 in Personal life</time>

                        <div class="post-img">
                            <img src="img/blog-3.jpg" alt="post #1">
                        </div>

                        <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>

                        <a class="blog-item__read"  href="#">Continue reading<i class="fa fa-caret-right"></i></a>

                    </div>
                </div>
            </div>


        </section>
        <section id="content-tab2">
            <p>
                Контент ТАБ 2
            </p>
        </section>
        <section id="content-tab3">
            <p>
                Контент ТАБ 3
            </p>
        </section>
        <section id="content-tab4">
            <p>
                Контент ТАБ 4
            </p>
        </section>
    </div>

</section>