<footer class="footer">
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col l3">
                    <a href="/" class="logo">
                        <img src="img/logo.png" alt="BlueSite" width="284" height="62">
                    </a>
                </div>
                <div class="col l9 xl8 offset-xl1">
                    <ul class="footer-nav">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Home</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">About Us</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Order now </a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Disclaimer</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Why Us</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Contacts</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="middle-footer">
            <div class="row">
                <div class="col l2">
                    <div class="footer-links">
                        <h5 class="footer-links__title">Section number1</h5>
                        <ul>
                            <li>
                                <a href="#">But I must explain to you how</a>
                            </li>
                            <li>
                                <a href="#">Mistaken idea of denouncing</a>
                            </li>
                            <li>
                                <a href="#">Praising pain was born</a>
                            </li>
                            <li>
                                <a href="#">Account of the system</a>
                            </li>
                            <li>
                                <a href="#">Great explorer of the truth</a>
                            </li>
                            <li>
                                <a href="#">No one rejects, dislikes</a>
                            </li>
                            <li>
                                <a href="#">Mistaken idea of denouncing</a>
                            </li>
                            <li>
                                <a href="#">Praising pain was born</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col l2 offset-l1">

                    <div class="footer-links">
                        <h5 class="footer-links__title">Section number2</h5>
                        <ul>
                            <li>
                                <a href="#">But I must explain to you how</a>
                            </li>
                            <li>
                                <a href="#">Mistaken idea of denouncing</a>
                            </li>
                            <li>
                                <a href="#">Praising pain was born</a>
                            </li>
                            <li>
                                <a href="#">Account of the system</a>
                            </li>
                            <li>
                                <a href="#">Great explorer of the truth</a>
                            </li>
                            <li>
                                <a href="#">No one rejects, dislikes</a>
                            </li>
                            <li>
                                <a href="#">Mistaken idea of denouncing</a>
                            </li>
                            <li>
                                <a href="#">Praising pain was born</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col l2 offset-l1">

                    <div class="footer-links">
                        <h5 class="footer-links__title">Section number3</h5>
                        <ul>
                            <li>
                                <a href="#">But I must explain to you how</a>
                            </li>
                            <li>
                                <a href="#">Mistaken idea of denouncing</a>
                            </li>
                            <li>
                                <a href="#">Praising pain was born</a>
                            </li>
                            <li>
                                <a href="#">Account of the system</a>
                            </li>
                            <li>
                                <a href="#">Great explorer of the truth</a>
                            </li>
                            <li>
                                <a href="#">No one rejects, dislikes</a>
                            </li>
                            <li>
                                <a href="#">Mistaken idea of denouncing</a>
                            </li>
                            <li>
                                <a href="#">Praising pain was born</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col l2 offset-l1">

                    <div class="footer-links">
                        <h5 class="footer-links__title">Section number4</h5>
                        <ul>
                            <li>
                                <a href="#">But I must explain to you how</a>
                            </li>
                            <li>
                                <a href="#">Mistaken idea of denouncing</a>
                            </li>
                            <li>
                                <a href="#">Praising pain was born</a>
                            </li>
                            <li>
                                <a href="#">Account of the system</a>
                            </li>
                            <li>
                                <a href="#">Great explorer of the truth</a>
                            </li>
                            <li>
                                <a href="#">No one rejects, dislikes</a>
                            </li>
                            <li>
                                <a href="#">Mistaken idea of denouncing</a>
                            </li>
                            <li>
                                <a href="#">Praising pain was born</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="copiright">
                <p>Copyright В© 2017 <a href="#">BlueSite.com</a></p>
                <p>All rights reserved.</p>
            </div>
            <div class="social">
                <a href="#" class="social__link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social__link"><i class="fa fa-twitter"></i></a>
                <a href="#" class="social__link"><i class="fa fa-pinterest-p"></i></a>
                <a href="#" class="social__link"><i class="fa fa-google-plus"></i></a>
            </div>
            <div class="link-us link-us--tel">
                <p>Toll free:</p>
                <a href="tel:+ 3 044 111 2732" class="link-us__tel">+ 3 044 111 2732</a>
            </div>
            <div class="link-us link-us--email">
                <p>Email:</p>
                <a class="link-us__link"  href="mailto:bluesite@gmail.com">bluesite@gmail.com</a>
            </div>
        </div>

    </div>

</footer>