<header class="header">
    <div class="container">
        <div class="row">
            <div class="col l3">
                <a href="/" class="logo">
                    <img src="img/logo.png" alt="BlueSite" width="284" height="62">
                </a>
            </div>
            <div class="col l9 nav-wraper">
                <div class="nav">
                    <ul class="list">
                        <li class="list__item list__item--parent">
                            <a class="list__link" href="#">Services</a>
                            <ul class="list-child">
                                <li class="list-child__item">
                                    <a class="list-child__link" href="#">Service 1</a>
                                </li>
                                <li class="list-child__item">
                                    <a class="list-child__link" href="#">Service 2</a>
                                </li>
                                <li class="list-child__item">
                                    <a class="list-child__link" href="#">Service 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list__item list__item--parent">
                            <a class="list__link" href="#">About Us</a>
                            <ul class="list-child">
                                <li class="list-child__item">
                                    <a class="list-child__link" href="#">Service 1</a>
                                </li>
                                <li class="list-child__item">
                                    <a class="list-child__link" href="#">Service 2</a>
                                </li>
                                <li class="list-child__item">
                                    <a class="list-child__link" href="#">Service 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list__item">
                            <a class="list__link" href="#">How it works</a>
                        </li>
                    </ul>

                    <a class="call" href="tel:38067123456"><i class="fa fa-phone"></i></a>
                    <a href="#" class="btn-sign button button1">Sign in</a>
                    <a href="#" class="btn-order button button3">Order</a>
                    <a class="btn_menu"><i class="material-icons">menu</i></a>
                </div>

            </div>
        </div>




    </div>
</header>