<div class="how">
    <h2 class="section-title">Our simple 4-step Procedure</h2>
    <p>In the field of academic research and essay writing, BlueEssaySite ervice is recognized as one of the best. We offer high-quality essay papers, term papers, custom research papers, theses, dissertations and help with all types of assignments. Our promise of a top-notch essay writing service is one we keep.      </p>
    <p>The reason BlueEssaySite provides the best college essay writing service is that we only employ the most experienced and professional writers - those who understand the importance of providing high-quality essay writing help at a reasonable price.     </p>

    <div class="row">
        <div class="col s12 m6">
            <div class="arrow arrow--n1">
                <div class="step step--n1">
                    <p class="step__name">step 1</p>
                    <p class="step__text">Complete the short order form to buy a paper from our easy essay writing service.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="arrow arrow--n2">
                <div class="step step--n2">
                    <p class="step__name">step 2</p>
                    <p class="step__text">We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 push-m6">
            <div class="arrow arrow--n3">
                <div class="step step--n3">
                    <p class="step__name">step 3</p>
                    <p class="step__text">Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 pull-m6">
            <div class="arrow arrow--n4">
                <div class="step step--n4 ">
                    <p class="step__name">step 4</p>
                    <p class="step__text">The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.</p>
                </div>
            </div>
        </div>
    </div>


</div>