<div class="intro-wrapper">
    <div class="container">
        <div class="intro">
            <div class="row">
               <div class="col l8">
                   <div class="intro__title">
                       <p><b>BlueEssaySite.net -</b><br>expert help for custom Written</p>
                   </div>
                   <div class="intro__text">
                       <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
                   </div>
                   <a href="#" class="btn btn1 order">Place an order</a>
               </div>
                <div class="col l4">
                    <div class="girl"></div>
                </div>
            </div>


            <div class="row">
                <div class="col l12">
                    <div class="form-intro ">
                        <form action="#" method="post" class="clearfix">
                            <div class="input-field">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                                <label>Type of paper</label>
                            </div>
                            <div class="input-field">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                                <label>Writer level</label>
                            </div>
                            <div class="input-field">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                                <label>Urgency </label>
                            </div>
                            <div class="input-field">
                                <p class="form-label">Number of pages:</p>
                                <div class="number">
                                    <span class="minus"></span>
                                    <input type="text" class="number__input browser-default" name="pages" value="2" size="3"/>
                                    <span class="plus"></span>
                                </div>
                            </div>
                            <div class="input-field">
                                <button type="submit" class="btn btn3">Continue</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <section class="welcome">
        <div class="row">
            <div class="col l6">
                <div class="welcome__img fade-in-left">
                    <img src="img/welcome.png" alt="welcome to site">
                </div>
            </div>
            <div class="col l6">
                <div class="welcome__body fade-in-right">
                    <label>01  Welcome to Sitename</label>
                    <h2>Do you need essay help from a good writing service?
                    </h2>
                    <p>If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.  </p>
                    <p>Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="advantages-wrapper">
    <div class="container">
        <section class="advantages fade-in-down">
            <label>02  Our advantages</label>
            <h2>Advantages of Our Writing Services</h2>
            <div class="row">
                <div class="col l4">
                    <div class="advantage advantage--prof flip1">
                        <h5 class="advantage__title">Professionally-qualified
                            writing experts</h5>
                        <p class="advantage__text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                    </div>
                </div>
                <div class="col l4">
                    <div class="advantage advantage--time flip2">
                        <h5 class="advantage__title">Commitment to deliver papers by deadline</h5>
                        <p class="advantage__text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                    </div>
                </div>
                <div class="col l4">
                    <div class="advantage advantage--quality flip3">
                        <h5 class="advantage__title">Top-quality, at a great price - guaranteed</h5>
                        <p class="advantage__text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                    </div>
                </div>
            </div>
            <a href="#" class="btn2 btn place-order">Place an order</a>
        </section>
    </div>
</div>

<div class="container">
    <section class="how-it-works fade-in-up">
        <label>03  How it works</label>
        <h2>Our Simple 4-Step Procedure</h2>
        
        <div class="row">
            <div class="col l3 arrow">
                <div class="step step--n1">
                    <p class="step__name">step 1</p>
                    <p class="step__text">Complete the short order form to buy a paper from our easy essay writing service.</p>
                </div>
            </div>
            <div class="col l3 arrow">
                <div class="step step--n2">
                    <p class="step__name">step 2</p>
                    <p class="step__text">We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
                </div>

            </div>
            <div class="col l3 arrow">
                <div class="step step--n3">
                    <p class="step__name">step 3</p>
                    <p class="step__text">Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard</p>
                </div>

            </div>
            <div class="col l3">
                <div class="step step--n4">
                    <p class="step__name">step 4</p>
                    <p class="step__text">The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.</p>
                </div>

            </div>
        </div>

    </section>
</div>


<div class="discounts-wrapper">
    <div class="container">
        <section class="discounts fade-in-up">
            <label>04  Discounts</label>
            <h2>Our discount program</h2>
            <p class="subtitle">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates </p>

            <div class="row row--discount-wrapper">
                <div class="col l10 offset-l1">
                    <div class="row--discount">
                        <div class="discount-table clearfix">
                            <div class="discount-table__cell">
                                <p class="discount-table__value">4%</p>
                                <p class="discount-table__value">OFF</p>
                                <p class="discount-table__hint">for more than</p>
                                <p class="discount-table__descr">15 pages</p>
                            </div>
                            <div class="discount-table__cell">
                                <p class="discount-table__value">5%</p>
                                <p class="discount-table__value">OFF</p>
                                <p class="discount-table__hint">for more than</p>
                                <p class="discount-table__descr">20 pages</p>
                            </div>
                            <div class="discount-table__cell">
                                <p class="discount-table__value">10%</p>
                                <p class="discount-table__value">OFF</p>
                                <p class="discount-table__hint">for more than</p>
                                <p class="discount-table__descr">50 pages</p>
                            </div>
                            <div class="discount-table__cell">
                                <p class="discount-table__value">15%</p>
                                <p class="discount-table__value">OFF</p>
                                <p class="discount-table__hint">for more than</p>
                                <p class="discount-table__descr">100 pages</p>
                            </div>
                        </div>
                        <div class="discount-promo-wrapper">
                            <div class="discount-promo">
                                <p class="discount-promo__title">Try our service & get huge discounts</p>
                                <div class="discount-promo__box">
                                    <p><span>get<span>
                                    <b>15%<br>OFF</b>
                                    <i>for your 1st order</i></p>
                                </div>
                                <p class="discount-promo__hint">Use discount 15 as discount code</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>