<article class="post">

    <div class="row">
        <div class="col s12">
            <div class="post-img">
                <img src="img/blog-1.jpg" alt="post #1">
            </div>
        </div>
    </div>

    <h2 class="section-title">Do you need essay help?</h2>
    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

    <div class="row">
        <div class="col s12 l6">
            <ul>
                <li>But I must explain to you how</li>
                <li>Mistaken idea of denouncing pleasure</li>
                <li>Praising pain was born</li>
                <li>Account of the system, and expound</li>
                <li>Great explorer of the truth</li>
                <li>No one rejects, dislikes</li>
            </ul>
        </div>
        <div class="col s12 l6">
            <ul class="check">
                <li>But I must explain to you how</li>
                <li>Mistaken idea of denouncing pleasure</li>
                <li>Praising pain was born</li>
                <li>Account of the system, and expound</li>
                <li>Great explorer of the truth</li>
                <li>No one rejects, dislikes</li>
            </ul>
        </div>
    </div>

    <h3>Do you need essay help?</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

    <blockquote>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        </p>
    </blockquote>

    <h4>Do you need essay help?</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

    <h5>Do you need essay help?</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

    <h6>Do you need essay help?</h6>
    <div class="article">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

    </div>

    <footer class="post__footer">

        <div class="row">
            <div class="col s12 m6">
                <div class="post__info">
                    <time pubdate datetime="2015-02-03"><i class="fa fa-clock-o"></i>February 3, 2015 in Personal life</time>
                    <div class="like">
                        <a class="like__link" href="#"><i class="fa fa-heart"></i>34</a>
                        <a class="like__link" href="#"><i class="fa fa-eye"></i>39</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="social">
                    <a href="#" class="social__link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social__link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social__link"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#" class="social__link"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social__link"><i class="fa fa-share-alt"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <section class="comment">
        <h3 class="comment__title">Leave comment</h3>

        <form action="#" method="post">

            <div class="row">
                <div class="col s12 l4">
                    <div class="field-group">
                        <span>Name</span>
                        <input type="text" name="name" placeholder="Name" class="browser-default">
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="field-group">
                        <span>Email</span>
                        <input type="email" name="email" placeholder="Email" class="browser-default">
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="field-group">
                        <span>Phone</span>
                        <input type="tel" name="phone" placeholder="Phone" class="browser-default">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="field-group">
                        <span>Your comment</span>
                        <textarea name="comment" rows="10" placeholder="Your comment" class="browser-default"></textarea>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn1 waves-effect">Post comment</button>

        </form>

    </section>
</article>