<aside class="rightbar">

    <div class="search-box">
        <div class="search">
            <form action="#" method="get">
                <div class="field-group">
                    <input type="search" class="browser-default search__input" name="search" placeholder="Search">
                    <button type="submit" class="search__btn"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="block-list">
        <p class="block-list__title">Categories</p>
        <div class="block-list__body">
            <ul class="triangle">
                <li><a href="#">Essay blog</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Design / Branding</a></li>
                <li><a href="#">Uncategorized</a></li>
            </ul>
        </div>

    </div>

</aside>