<input type="text" placeholder="text" class="success"><br>
<input type="text" placeholder="text" class="error"><br>
<select name="" id="" >
    <option value="option1">option 1</option>
    <option value="option2">option 2</option>
    <option value="option3">option 3</option>
    <option value="option4">option 4</option>
    <option value="option5">option 5</option>
</select>

<a href="" class="btn btn1">btn</a>
<button class="button button1" disabled>button</button>
<a href="" class="btn btn2">btn</a>
<button class="button button2">button</button>
<a href="" class="btn btn3">btn</a>
<button class="button button3">button</button>
<a href="" class="btn btn4">btn</a>
<button class="button button4">button</button>
<a href="" class="btn btn5">btn</a>
<button class="button button5">button</button>

<br>
<div class="color p4"></div>
<div class="color p4l1"></div>
<div class="color p4l2"></div>
<div class="color p4l3"></div><br>
<div class="color p4"></div>
<div class="color p4d1"></div>
<div class="color p4d2"></div>
<div class="color p4d3"></div>
<br>
<br>
<div class="color p3"></div>
<div class="color p3l1"></div>
<div class="color p3l2"></div>
<div class="color p3l3"></div><br>
<div class="color p3"></div>
<div class="color p3d1"></div>
<div class="color p3d2"></div>
<div class="color p3d3"></div>
<br>
<br>
<div class="color p2"></div>
<div class="color p2l1"></div>
<div class="color p2l2"></div>
<div class="color p2l3"></div><br>
<div class="color p2"></div>
<div class="color p2d1"></div>
<div class="color p2d2"></div>
<div class="color p2d3"></div>
<br>
<br>
<div class="color p1"></div>
<div class="color p1l1"></div>
<div class="color p1l2"></div>
<div class="color p1l3"></div><br>
<div class="color p1"></div>
<div class="color p1d1"></div>
<div class="color p1d2"></div>
<div class="color p1d3"></div>
<br>
<br>
<h1> Test header</h1>
<h2> Test header</h2>
<h3> Test header</h3>
<h4> Test header</h4>
<h5> Test header</h5>
<h6> Test header</h6>

<p>If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.  </p>
<p>If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.  </p>

<div class="subtitle">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates </div>

<ul>
    <li>But I must explain to you how
        </li>
    <li>Mistaken idea of denouncing pleasure
        </li>
    <li>Praising pain was born
        </li>
    <li>Account of the system, and expound
        </li>
    <li>Great explorer of the truth
        </li>
    <li>No one rejects, dislikes</li>
</ul>

<blockquote>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and </blockquote>




