.fade-in-left {
  animation: fade-in-left 2s ease infinite;
}
.fade-in-right {
  animation: fade-in-right 2s ease infinite;
}

.fade-in-down {
  animation: fade-in-down 2s ease infinite;
}

.fade-in-up {
  animation: fade-in-up 2s ease infinite;
}


@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cloud {
  0% {
    transform:scale(0.5);
    left: 0;

  }
  100% {
    transform: scale(1);
    left: 100%;
  }
}
@keyframes rocket {
  0% {
    transform: rotateZ(-73deg);

  }
  7% {
    transform: translateY(-400px) rotateZ(-73deg);
  }
  18% {
    transform: translateY(-400px) rotateZ(-35deg);
  }
  26% {
    transform: translateY(-400px) translateX(50px) ;
  }
  40% {
    transform: translateY(-400px) translateX(500px) rotateZ(13deg);
  }
  60% {
    transform: translateY(-400px) translateX(1105px) rotateZ(13deg);
  }
  80% {
    transform: translateY(-400px) translateX(1105px) rotateZ(-73deg);
  }
  100% {
    transform: translateY(0px) translateX(1105px) rotateZ(-73deg);
  }

}
