$s-2co : 0px 1942px 0px -1942px 98px 36px 139px 4197px '../img/sprite.png';
$s-a1 : 0px 3215px 0px -3215px 65px 65px 139px 4197px '../img/sprite.png';
$s-a2 : 0px 2887px 0px -2887px 63px 64px 139px 4197px '../img/sprite.png';
$s-a3 : 0px 3728px 0px -3728px 77px 77px 139px 4197px '../img/sprite.png';
$s-amex : 0px 1039px 0px -1039px 75px 26px 139px 4197px '../img/sprite.png';
$s-cancel : 0px 101px 0px -101px 9px 9px 139px 4197px '../img/sprite.png';
$s-diners : 0px 914px 0px -914px 97px 25px 139px 4197px '../img/sprite.png';
$s-discover : 0px 551px 0px -551px 98px 16px 139px 4197px '../img/sprite.png';
$s-ellipse : 0px 3905px 0px -3905px 86px 86px 139px 4197px '../img/sprite.png';
$s-jcb : 0px 1549px 0px -1549px 40px 31px 139px 4197px '../img/sprite.png';
$s-left : 0px 2724px 0px -2724px 32px 63px 139px 4197px '../img/sprite.png';
$s-mail : 0px 1811px 0px -1811px 31px 31px 139px 4197px '../img/sprite.png';
$s-mastercard : 0px 790px 0px -790px 139px 24px 139px 4197px '../img/sprite.png';
$s-minus : 0px 0px 0px 0px 13px 1px 139px 4197px '../img/sprite.png';
$s-paypal : 0px 1165px 0px -1165px 104px 26px 139px 4197px '../img/sprite.png';
$s-plus : 0px 210px 0px -210px 13px 13px 139px 4197px '../img/sprite.png';
$s-right : 0px 2561px 0px -2561px 32px 63px 139px 4197px '../img/sprite.png';
$s-scissors : 0px 1420px 0px -1420px 38px 29px 139px 4197px '../img/sprite.png';
$s-shape : 0px 3554px 0px -3554px 74px 74px 139px 4197px '../img/sprite.png';
$s-shape2 : 0px 3380px 0px -3380px 74px 74px 139px 4197px '../img/sprite.png';
$s-skrill : 0px 1291px 0px -1291px 58px 29px 139px 4197px '../img/sprite.png';
$s-stars : 0px 4091px 0px -4091px 89px 106px 139px 4197px '../img/sprite.png';
$s-step1 : 0px 2238px 0px -2238px 61px 61px 139px 4197px '../img/sprite.png';
$s-step2 : 0px 3051px 0px -3051px 51px 64px 139px 4197px '../img/sprite.png';
$s-step3 : 0px 2078px 0px -2078px 60px 60px 139px 4197px '../img/sprite.png';
$s-step4 : 0px 2399px 0px -2399px 62px 62px 139px 4197px '../img/sprite.png';
$s-table-hover : 0px 437px 0px -437px 14px 14px 139px 4197px '../img/sprite.png';
$s-table : 0px 323px 0px -323px 14px 14px 139px 4197px '../img/sprite.png';
$s-tel : 0px 1680px 0px -1680px 31px 31px 139px 4197px '../img/sprite.png';
$s-visa : 0px 667px 0px -667px 71px 23px 139px 4197px '../img/sprite.png';
