$s-2co : 0px 1714px 0px -1714px 98px 36px 139px 3969px '../img/sprite.png';
$s-a1 : 0px 2987px 0px -2987px 65px 65px 139px 3969px '../img/sprite.png';
$s-a2 : 0px 2659px 0px -2659px 63px 64px 139px 3969px '../img/sprite.png';
$s-a3 : 0px 3500px 0px -3500px 77px 77px 139px 3969px '../img/sprite.png';
$s-amex : 0px 937px 0px -937px 75px 26px 139px 3969px '../img/sprite.png';
$s-cancel : 0px 101px 0px -101px 9px 9px 139px 3969px '../img/sprite.png';
$s-diners : 0px 686px 0px -686px 97px 25px 139px 3969px '../img/sprite.png';
$s-discover : 0px 323px 0px -323px 98px 16px 139px 3969px '../img/sprite.png';
$s-ellipse : 0px 3677px 0px -3677px 86px 86px 139px 3969px '../img/sprite.png';
$s-jcb : 0px 1321px 0px -1321px 40px 31px 139px 3969px '../img/sprite.png';
$s-left : 0px 2333px 0px -2333px 32px 63px 139px 3969px '../img/sprite.png';
$s-mail : 0px 1452px 0px -1452px 31px 31px 139px 3969px '../img/sprite.png';
$s-mastercard : 0px 562px 0px -562px 139px 24px 139px 3969px '../img/sprite.png';
$s-minus : 0px 0px 0px 0px 13px 1px 139px 3969px '../img/sprite.png';
$s-paypal : 0px 811px 0px -811px 104px 26px 139px 3969px '../img/sprite.png';
$s-plus : 0px 210px 0px -210px 13px 13px 139px 3969px '../img/sprite.png';
$s-right : 0px 2496px 0px -2496px 32px 63px 139px 3969px '../img/sprite.png';
$s-scissors : 0px 1192px 0px -1192px 38px 29px 139px 3969px '../img/sprite.png';
$s-shape : 0px 3326px 0px -3326px 74px 74px 139px 3969px '../img/sprite.png';
$s-shape2 : 0px 3152px 0px -3152px 74px 74px 139px 3969px '../img/sprite.png';
$s-skrill : 0px 1063px 0px -1063px 58px 29px 139px 3969px '../img/sprite.png';
$s-stars : 0px 3863px 0px -3863px 89px 106px 139px 3969px '../img/sprite.png';
$s-step1 : 0px 2010px 0px -2010px 61px 61px 139px 3969px '../img/sprite.png';
$s-step2 : 0px 2823px 0px -2823px 51px 64px 139px 3969px '../img/sprite.png';
$s-step3 : 0px 1850px 0px -1850px 60px 60px 139px 3969px '../img/sprite.png';
$s-step4 : 0px 2171px 0px -2171px 62px 62px 139px 3969px '../img/sprite.png';
$s-tel : 0px 1583px 0px -1583px 31px 31px 139px 3969px '../img/sprite.png';
$s-visa : 0px 439px 0px -439px 71px 23px 139px 3969px '../img/sprite.png';
