$s-a1 : 0px 1851px 0px -1851px 65px 65px 89px 2485px '../img/sprite.png';
$s-a2 : 0px 1523px 0px -1523px 63px 64px 89px 2485px '../img/sprite.png';
$s-a3 : 0px 2016px 0px -2016px 77px 77px 89px 2485px '../img/sprite.png';
$s-cancel : 0px 101px 0px -101px 9px 9px 89px 2485px '../img/sprite.png';
$s-ellipse : 0px 2193px 0px -2193px 86px 86px 89px 2485px '../img/sprite.png';
$s-left : 0px 1197px 0px -1197px 32px 63px 89px 2485px '../img/sprite.png';
$s-mail : 0px 583px 0px -583px 31px 31px 89px 2485px '../img/sprite.png';
$s-minus : 0px 0px 0px 0px 13px 1px 89px 2485px '../img/sprite.png';
$s-plus : 0px 210px 0px -210px 13px 13px 89px 2485px '../img/sprite.png';
$s-right : 0px 1360px 0px -1360px 32px 63px 89px 2485px '../img/sprite.png';
$s-scissors : 0px 323px 0px -323px 38px 29px 89px 2485px '../img/sprite.png';
$s-stars : 0px 2379px 0px -2379px 89px 106px 89px 2485px '../img/sprite.png';
$s-step1 : 0px 874px 0px -874px 61px 61px 89px 2485px '../img/sprite.png';
$s-step2 : 0px 1687px 0px -1687px 51px 64px 89px 2485px '../img/sprite.png';
$s-step3 : 0px 714px 0px -714px 60px 60px 89px 2485px '../img/sprite.png';
$s-step4 : 0px 1035px 0px -1035px 62px 62px 89px 2485px '../img/sprite.png';
$s-tel : 0px 452px 0px -452px 31px 31px 89px 2485px '../img/sprite.png';
