html {
  font-family: $font2;
  font-size: $base-font;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  max-width: 1920px;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0;
}

h1 {
  @include font(35px, $p4d3, 700, $font2);
}

h2 {
  @include font(33px, $p4d2, 700, $font2);
}

h3 {
  @include font(27px, $p4d3, 500, $font2);
}

h4 {
  @include font(22px, $p4d3, 500, $font2);
}

h5 {
  @include font(17px, $p4d3, 500, $font2);
}

h6 {
  @include font(15px, $p4d3, 500, $font2);
}

p {
  @include font(14px, $p4d1, 400, $font2);
  line-height: 1.57;
  margin: 0;
  margin-bottom: 22px;
}

.subtitle {
  @include font(20px, $p4d1, 500, $font2);
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    @include font(15px, $p4d2, 400, $font2);
    line-height: 1.46;

    &::before {
      content: "\f058";
      @include font(15px, $p1, 400, $font-awesome);
      margin-right: 10px;
    }
  }

  &.check {

    li {

      &::before {
        content: "\f046";
        color: $p2;
      }
    }
  }
}

blockquote {
  margin: 0;
  padding-left: 34px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $p1l3;
  border-left: 2px solid $p1;
  margin-bottom: 1rem;

  p {
    @include font(17px, $p1d1, 400, $font2);
    line-height: 1.76;
    margin: 0;
  }
}


.tabs-wrapper {
  padding: 0px;
  margin: 0 auto;
}

.tabs-wrapper>section {
  display: none;
  padding: 15px;
}
.tabs-wrapper>section>p {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabs-wrapper input {
  display: none;
  position: absolute;
}

.tabs-wrapper label {
  @include font (14px, $p4l1, 400, $font2);
  display: inline-block;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;

  &:before {
    display: none;
  }

  &:after {
    display: none;
  }
}

.tabs-wrapper label:hover {
  cursor: pointer;
}
/* Стили для активной вкладки */
.tabs-wrapper input:checked+label {
  color: $p2;
  border-bottom: 2px solid $p2;
}

#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
  display: block;
}

.display-type {
  float: right;
  position: relative;

  a {
    color: $p4d3;
    display: inline-block;

    &:hover {
      color: $p1d1;
    }
  }

  &__row {
    margin-right: 5px;


  }
  &__cell {
    @include sprite($s-table);
    position: relative;
    top: -1px;

    &:hover {
      @include sprite($s-table-hover);
    }
  }
}


time {
  @include font (13px, $p4l1, 400, $font2);
  line-height: 1.2;
  letter-spacing: -0.08px;
  margin-right: 20px;
  .fa {
    margin-right: 10px;
  }
}


@media screen and (max-width: 680px) {

  .tabs-wrapper label {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 400px) {

  .tabs-wrapper label {
    @include font (12px, $p4l1, 400, $font2);
    padding-left: 5px;
    padding-right: 5px;
  }
}